/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --article-color: #F1B2CE;
  --article-title-color: #FF0070;
  --accent-color: #FF0070;
  --navigation-color: #FF0070;
  --navigation-color-hover: rgb(255,0,112,.40);
  --block-title: #FF0070;
  --decorated-zone-color: #FF0070;
  --title-decor-color: #000028; 
  --color-title: #DB00FF;
  --shadow-title: #FF0070; 
  --font-family: 'IBM Plex mono', Courier, monospace;
  --font-size: 18px;
  --title-font-weight: bold;
  --text-font-weight: normal;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --min-block-size: 668px;
}

@media (width >= 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  :root {
    --min-block-size: 768px;
  }
}